[submodule "pypeFLOW"]
	path = pypeFLOW
	url = https://github.com/cschin/pypeFLOW
[submodule "FALCON"]
	path = FALCON
	url = https://github.com/PacificBiosciences/FALCON
[submodule "DAZZ_DB"]
	path = DAZZ_DB
	url = https://github.com/pb-jchin/DAZZ_DB
[submodule "DALIGNER"]
	path = DALIGNER
	url = https://github.com/pb-jchin/DALIGNER
